
Practica5/.vs/Practica5/v17/.suo
/Practica5/.vs/Practica5/v17
/Practica5/.vs/Practica5/v17
/Practica5/.vs/Practica5
/Practica5/.vs
/Practica5
*.json
*.exe
*.pdb
*.pdb
*.cs
*.force
*.cache
Practica5/.vs/Practica5/v17/.suo
/Practica5/.vs/Practica5/v17
/Practica5
